.library-container {

    min-height: calc(100vh/2 - 1px);
    text-align: center;

   .library-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
        }

   }
    

}