.search {

    input {
        padding: 5px;
        font-size: 12px;

    }

    select {
        padding: 5px;
        font-size: 12px;
    }


}

.homescreen-container {

    .search {

        position: absolute;
        right: 0;
        left: 0;
        margin-left: auto; 
        margin-right: auto; 
        width: 242px;
        margin-top: -15px;
    }

    .homescreen-content {
        margin-top: 40px;
    }


}