.current {
    background: $main;
    color: white;
    border-radius: 10px;
    
    height: 50px;
    width: 50px;
    transition: 0.2s;

    cursor: pointer;
    display: flex;

    z-index: 1;

    overflow: hidden;

    .img-display {
        height: 32px;
        width: 32px;
        overflow: hidden;
        border-radius: 10px;
        margin: 9px;
    }

    img {
        display: block;
        height: 32px;
        width: 32px;
        object-fit: cover;
    }

    .loading {
        padding: 8px;
        font-size: 32px;
    }

}

.current:hover {
    background: $main;
    border-radius: 10px;
    
    height: 50px;
    width: 300px;
    transition: 0.2s;

    cursor: pointer;
    display: flex;

    z-index: 1;

    
}

