
    //Properties
.sheet-container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    background-color: white;

    @media screen and(max-width: 800px) {
        min-width: 8.5in;
        scale: 0.45;
        transform: translate(0, -60%);
        margin-bottom: -500px;
    }

  }
  
  .sheet-container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
  }
  
  .sheet-container .ql-toolbar.ql-snow {
      
      position: sticky;
      top: 0px;
      z-index: 1;
      background-color: #F3F3F3;

      @media screen and (min-width: $media-screen) {
        display: flex;
        justify-content: center;
        border: none;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
      }


  }


  
  
  .sheet-container .viewer .ql-toolbar.ql-snow {
    display: none;
  }
  

  @page {
    margin: 1in;
  }

  .save {
    position: fixed;
    font-size: 30px;
    z-index: 2;

      //desktop
    @media screen and (min-width: $media-screen) {
      bottom: 75px;
      left: 75px;
    }
      //mobile
    @media screen and (max-width: $media-screen) {
      bottom: 50px;
      left: 20px;
    }

    .boxes {
      display: flex;
      align-items: baseline;
      
      .navigation {
        margin-right: 5px;
      }

    }

  }
