.quizz-editor {
    
    .button.edit {
       position: absolute;
       top: 70px;
       left: 10px;
    }

    
}

.quizz-container {

    min-height: calc(100vh - $footer-height);

    .quizz-content {
        
        
        margin-top: 75px;

        .questions {
    
            width: 90%;
            margin: auto;
            border: black solid 1px;
            border-radius: 10px;
    
            padding: 10px;
            margin-top: 15px;
    
            
            
            .question{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    input {
                        margin: 10px;
                        font-weight: 500;
                        font-size: 18px;
                        height: 36px;
                        text-align: center;
                        border-radius: 5px;
                        border: 1px $border solid;
                    }
    
                    input:disabled {
                        color: rgb(53, 53, 53);
                        font-weight: 400;
                    }
    
                }

                .info {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;

                    input {
                        margin: 10px;
                        font-weight: 500;
                        font-size: 18px;
                        height: 36px;
                        text-align: center;
                        border-radius: 5px;
                        border: 1px $border solid;
                    }
    
                    input:disabled {
                        color: rgb(53, 53, 53);
                        font-weight: 400;
                    }
    
                }
    
                .buttons {
    
                    display: flex;
                    flex-direction: column;
                    
                    * {
                        text-align: center;
                        justify-content: center;
                        width: 90px;
                        height: 36px;
                        text-transform: uppercase;
                        font-weight: 500;
                        color: white;
                        border-radius: 10px;
                        cursor: pointer;
                        font-size: 12px;
                        margin: 1px;
                        border: none;
                   }
    
                    .delete {
                        background-color: $error-dark;
                        border: none;
                    }
    
                    .edit {
                        background-color: $info-dark;
                    }
    
                    .add {
                        background-color: $success-dark;
                    }
    
                }
            }
    
        }
    
    }
}

.quizz-viewer { 
    
    display: flex;
    justify-content: center;

    .quizz {

        height: 222px;
        margin-top: calc((100vh/2) - 222px);

        .field {
            display: flex;
            flex-direction: column;
            width: 300px;

            .result {

            }

            .question{
                text-align: center;
                font-size: 25px;
                font-weight: 500;
                margin: 10px;
                max-width: 100%;
                overflow: hidden;
            }

            .answer {
                padding: 5px;
                border-radius: 5px;
                border: $border 2px solid;
                font-size: 20px;
            }

            .button {
                width: 100%;
                margin-top: 10px;
            }

            .button:hover {
                background-color: $success-dark;
            }

            .button.win {
                background-color: $success-dark;
            }
            .button.loose {
                background-color: $error-dark;
            }

            .button.end {
                background-color: $info-dark;
            }

        }

    }


}

//custom

.progress {
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 100%;
  }
  
  .progress-value {
    animation: load 5s normal forwards;
    box-shadow: 0 10px 40px -10px rgb(161, 161, 161);
    border-radius: 100px;
    background: rgb(0, 19, 161);
    height: 10px;
    width: 0;
  }

  .progress-back {
    animation: unload 1s normal forwards;
    box-shadow: 0 10px 40px -10px rgb(161, 161, 161);
    border-radius: 100px;
    background: rgb(0, 19, 161);
    height: 10px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }

  @keyframes unload {
    0% { width: 100%; }
    100% { width: 0%; }
  }