$black: #000;
$white: #FFF;

$light1: #6E6C82;
$light2:#504E63;
$main: #333140;
$dark1: #1F1D31;
$dark2: #15132B;

$text-color: #FFF;
$text-color1: #000000;
$text-color2: #1b1837;
$link: #110b5c;
$text-soft: #9a98b1;

$pop_bg: #979797;
$toolbar: #f3f3f3;
$tag-color: #555;

$notification: #FFF;
$notification-hover: rgb(228, 228, 228);
$unread-notification: rgb(173, 173, 173);

$button: rgb(255, 162, 162);
$button-hover: #cacaca;

$info-dark: rgb(3, 117, 217);
$info-dark-hover:rgb(1, 99, 185);

$success-bg: rgba(114, 255, 101, 0.246);
$success: rgb(19, 151, 52);
$success-dark: rgb(0, 181, 45);
$success-dark-hover: rgb(0, 159, 40);

$error: rgb(255, 101, 101);
$error-dark: rgb(255, 44, 44);
$error-dark-hover: rgb(226, 0, 0);
$error2:rgb(255, 56, 56);

$footer-height: 200px;

$border: #000;
$border-color1: rgb(11, 0, 160);
$border-color2: rgb(255, 26, 26);
$border-color3: rgb(0, 177, 35);

$color-navbar-bg: $main;
$color-navbar-item: $text-color;
$color-navbar-active: $text-color2;