.homescreen-container {

    .homescreen-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
        
        padding: 25px;
    }

}