$link-text: #FFF;
$link-text-active: rgb(255, 87, 87);

$color1: #000;
$color2: rgb(223, 223, 223);

$border: #000;

$tag-color: #555;

$notification: #FFF;
$notification-hover: rgb(228, 228, 228);
$unread-notification: rgb(173, 173, 173);

$button: rgb(255, 162, 162);
$button-hover: #cacaca;

$success-bg: rgba(114, 255, 101, 0.246);
$success: rgb(19, 151, 52);

$error: rgb(255, 101, 101);