// -----------------------------------
//      Settings of Studify Api
// -----------------------------------

    // Sizes
$default-margin: 2em;
$footer-height: 200px;
$navbar-height: 50px;

$media-screen: 1000px;


    // Colors

$white: #FFF;
$black: #000;

$red: rgb(255, 44, 44);
$green: rgb(12, 187, 0);
$blue: rgb(0, 106, 255);

//         //Accents Color
// $color-a-bright: #7370BF;
// $color-a-light: #4E4BA6;
// $color-a-main: #353199;
// $color-a-dark: #221E7D;
// $color-a-darker: #120E62;

//         //Accents Color
$color-a-bright: #BBB9FB;
$color-a-light: #8E8AF6;
$color-a-main: #6B66F1;
$color-a-dark: #4A44E9;
$color-a-darker: #2720DC;

        //Dark Theme
$color-d-bright: #6E6C82;
$color-d-light: #504E63;
$color-d-main: #333140;
$color-d-dark: #1F1D31;
$color-d-darker: #15132B;