$black: #000;
$white: #FFF;


$link-text: #FFF;
$link-text-active: rgb(255, 87, 87);

$color1: #000;
$color2: rgb(223, 223, 223);
$color3: rgb(177, 177, 177);

$text-color1: rgb(0, 41, 144);
$text-color2: rgb(73, 83, 141);

$pop_bg: #979797;

$toolbar: #f3f3f3;

$border: #000;

$tag-color: #555;

$notification: #FFF;
$notification-hover: rgb(228, 228, 228);
$unread-notification: rgb(173, 173, 173);

$button: rgb(255, 162, 162);
$button-hover: #cacaca;

$info-dark: rgb(3, 117, 217);
$info-dark-hover:rgb(1, 99, 185);


$success-bg: rgba(114, 255, 101, 0.246);
$success: rgb(19, 151, 52);
$success-dark: rgb(0, 181, 45);
$success-dark-hover: rgb(0, 159, 40);

$error: rgb(255, 101, 101);
$error-dark: rgb(255, 44, 44);
$error-dark-hover: rgb(226, 0, 0);
$error2:rgb(255, 56, 56);


$footer-height: 200px;

$border-color1: rgb(11, 0, 160);
$border-color2: rgb(255, 26, 26);
$border-color3: rgb(0, 177, 35);