.sheets-thread-content {

    @media only screen and (min-width: 1370px) {
        width: 60vw;
        margin: auto;
    }

    .sheets-thread {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}