@import './settings';

// @media only screen and (min-width: 1250px) 
    @import './desktop/navbar';
    @import './desktop/auth';
    @import './desktop/homescreen';
    @import './desktop/introduction';
    @import './desktop/profil';
    @import './desktop/threads';
    @import './desktop/library';
    
    @import './desktop/components/file';
    @import './desktop/components/editor';
    @import './desktop/components/notification';
    @import './desktop/components/squarenav';
    @import './desktop/components/popup';
    @import './desktop/components/currentUsers';
    @import './desktop/components/report';
    @import './desktop/components/searchBar';
    @import './desktop/components/quizz';
    @import './desktop/components/quizzResult';



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    font-family: Roboto;
}

body {
    margin: 0;
    font-family: Roboto;
}

.app-container {
    min-height: 80vh;
}


.is-success {
    color: $success
}



button.button {
    text-align: center;
    justify-content: center;
    width: 140px;
    height: 36px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin: 1px;
    border: none;
    background-color: rgb(39, 0, 195);
}

button.button:hover {
    background-color: rgb(32, 0, 158);
}

button.button.success {
    background-color: $success-dark;
}
button.button.success:hover {
    background-color: $success-dark-hover;
}

button.button.info {
    background-color: $info-dark;
}
button.button.info:hover {
    background-color: $info-dark-hover;
}

button.button.error {
    background-color: $error-dark;
}
button.button.error:hover {
    background-color: $error-dark-hover;
}

button.button:disabled {
    background-color: rgb(142, 142, 142);
}

footer.footer {

    height: $footer-height;
    margin-top: 100px;
    padding-top: 100px;
    
    background: $color3;

    .copyright {
        text-align: center;
    }

    a {
        color: $text-color1;
    }

    .links {
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;

        ul {
            list-style: none;
            list-style-position: outside;

           

            li a:hover{
                color: $text-color2;
                transition-duration: 100ms;
            }
        }

        
    }

}